<div class='container'>

</div>


<style>
  table,
  td {
    border: 1px solid grey;
    border-collapse: collapse;
  }
  td {
    width:32px;
    height:32px;
  }
</style>

<table >
  <tr *ngFor="let row of board.cells; index as y">
    <td
      *ngFor="let cell of row; index as x"
      (click)="checkCell(cell)"
      (contextmenu)="$event.preventDefault(); flag(cell)"
    >
      <div *ngIf="cell.status === 'clear' && !cell.mine">{{ cell.proximityMines }}</div>
      <div *ngIf="cell.status === 'flag'">🏴‍☠️</div>
      <div *ngIf="cell.mine && cell.status === 'clear'">💣</div>
    </td>
  </tr>
</table>
<button (click)="reset()">Restart</button>






<mat-grid-list cols="10" rowHeight="1:1">
  <mat-grid-tile 
  class="col col-sm-1 mat-elevation-z4"
  (click)="checkCell(cell)"
  (contextmenu)="$event.preventDefault(); flag(cell)" 
  *ngFor="let cell of board.cells.flat();">
    <span *ngIf="cell.status === 'clear' && !cell.mine">
      {{ cell.proximityMines }}
    </span>
    <span *ngIf="cell.status === 'flag'">
      🏴‍☠️
    </span>
    <span *ngIf="cell.mine && cell.status === 'clear'">
      💣
    </span>
  </mat-grid-tile>
</mat-grid-list>


