<div class='center-container'>
  <div class='game-container'>
    <div class='info-panel'>
      <div class='panel-item'>Total de bombas 💣: {{ totalBombsInBoard   }}</div>
      <div class='panel-item'>Banderas puestas 🏴‍☠️: {{ totalFlagsInBoard }}</div>
      <div class='panel-item reset-btn' (click)='reset()'>Reiniciar 🔄</div>
    </div>
    <div class='minefield'>
      <mat-divider></mat-divider>
      <mat-grid-list cols="10" rowHeight="1:1">
        <mat-grid-tile
        class="col col-sm-1 mat-elevation-z4"
        (click)="checkCell(cell)"
        (contextmenu)="$event.preventDefault(); flag(cell)" 
        *ngFor="let cell of board.cells.flat();"
        >
          <span *ngIf="cell.status === 'clear' && !cell.mine" class="cell">
            {{ cell.proximityMines }}
          </span>
          <span *ngIf="cell.status === 'flag'" class="cell">
            🏴‍☠️
          </span>
          <span *ngIf="cell.mine && cell.status === 'clear'" class="cell">
            💣
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
